{% load static %}
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<main class="main-area">
    <section class="cards centered">
    {% for post in posts %}
        {% if post.image_src|length > 0 %}
            <article class="card">
                <div class="card-thumbnail">
                    <a href="{{ post.link }}">
                        <figure class="thumbnail">
                            <img src="{{ post.image_src }}" alt="">
                        </figure>
                    </a>
                </div>
                <div class="card-content">
                    <a href="{{ post.link }}">
                        <h1>{{ post.title }}</h1>
                    </a>
                    <p>{{ post.excerpt|truncatewords:15 }}</p>
                </div>
            </article>
        {% endif %}
    {% endfor %}
