{% load static %}
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<main class="main-area">
    <div class="centered">
        <section class="cards">
        {% for post in posts %}
            <article class="card">
                <a href="{{ post.link }}">
                    <figure class="thumbnail">
                        <img src="{{ post.image_src }}" alt="">
                    </figure>
                </a>
                <div class="card-content">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.excerpt }}</p>
                </div>
            </article>
        {% endfor %}
